<h4>Score d'un participant</h4>
Le score d'un participant est calculé à partir de sa performance (1ère et 2ème place sur les épreuves
individuelles) ainsi que de sa longévité dans l'aventure.
<br />
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Critère</th>
            <th>Calcul</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Longévité</td>
            <td>Chaque jour dans aventure vaut 1 point</td>
            <td>L</td>
        </tr>

        <tr>
            <td>1ère place</td>
            <td>Le nombre de point est égal au nombre de participants à l'épreuve individuelle</td>
            <td>P</td>
        </tr>

        <tr>
            <td>2ème place</td>
            <td>Le nombre de point est égal au nombre de participants après le deuxième divisé par deux</td>
            <td>S</td>
        </tr>
        <tr class="font-weight-bold">
            <td>TOTAL</td>
            <td></td>
            <td>L+P+S</td>
        </tr>
    </tbody>
</table>
Le score final correspond à la somme des scores de longévité, première et seconde place.
<br />
<h4>Score d'une édition</h4>
La somme des scores des candidats est rapportée au niveau de l'édition