<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
						   http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- cache -->
    <cache:annotation-driven cache-manager="cacheManager" />

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"/>
    </bean>

    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="shared" value="true"/>
        <!--<property name="configLocation" value="classpath:ehcache.xml"/>-->
    </bean> 


    <!-- hibernate config to put in an appart config file-->
    <bean id="JPAscoreFactory" autowire="byName"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- all connection information are retrieve from the persistence file-->
		<!--
			<property name="dataSource" ref="..."/>
			<property name="persistenceUnitName" value="..."/>
		-->
		<property name="persistenceUnitName" value="score"/>
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
    </bean>


    <!-- dao packages -->
    <context:component-scan base-package="com.game.score.dao.impl.jpa"/>
    <context:component-scan base-package="com.game.score.dao.sdd.impl"/>
    <context:component-scan base-package="com.game.score.dao.composite.impl"/>
    <!-- Database -->
    <import resource="classpath:com/game/score/factory/spring/spring-config-Score-database.xml"/>    

</beans>

<!--
	 Copyright (c) minuteproject, minuteproject@gmail.com
	 All rights reserved.
	 
	 Licensed under the Apache License, Version 2.0 (the "License")
	 you may not use this file except in compliance with the License.
	 You may obtain a copy of the License at
	 
	 http://www.apache.org/licenses/LICENSE-2.0
	 
	 Unless required by applicable law or agreed to in writing, software
	 distributed under the License is distributed on an "AS IS" BASIS,
	 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	 See the License for the specific language governing permissions and
	 limitations under the License.
	 
	 More information on minuteproject:
	 twitter @minuteproject
	 wiki http://minuteproject.wikispaces.com 
	 blog http://minuteproject.blogspot.net
	 
-->
<!--
	 template reference : 
	 - Minuteproject version : 0.9.11
	 - name      : BslaSpringConfigMainBackend
	 - file name : BslaSpringConfigMainJPA2.vm
-->
