<h1>Contribuez !</h1>
Vous trouvez des informations erronnées ou manquantes que vous aimerez ajouter.
<br />
<h3>En tant qu'éditeur</h3>
Pour l'édition de la description d'une candidat, d'un programme ou d'une épreuve.
<h3>En tant que développeur</h3>
Vous avez des connaissances en SQL, java, javascript, CSS, html et souhaitez participer. Bienvenu !
<br />
Le modèle database se trouve sur github
<a href="https://github.com/fmadler/kohlantstats">
    <FaIcon @icon="github" @prefix="fab" @size="2x"></FaIcon>
</a>
<h3>Pour toute autre contribution</h3>
Contacter par mail à
<FaIcon @icon="envelope" /> <a href="mailto:kohlanstats@gmail.com">kohlanstats@gmail.com</a>