<h3>Palmarès <div class="d-inline-block d-sm-none">{{@participantName}}</div></h3>
<Participant::GamePalmaresAbstract @stats={{participant-game-stats @stats @programWebPath}} />

<Participant::GamePalmaresTable @stats={{participant-game-stats @stats @programWebPath}} />