<h3>Palmarès</h3>
<Participant::GamePalmaresAbstract @stats={{participant-game-stats @stats @programWebPath}} />

<Participant::GamePalmaresTable @stats={{participant-game-stats @stats @programWebPath}} />