<Component::ViewportComponent @vpLoaderId={{@vpLoaderId}}>
    <h3>Score</h3>
    <Participant::ParticipantScoreTable @stats={{participant-game-stats @stats @programWebPath}}>
    </Participant::ParticipantScoreTable>
    {{yield}}
</Component::ViewportComponent>