<Component::ViewportComponent @vpLoaderId={{@vpLoaderId}}>
    <h3>Score <div class="d-inline-block d-sm-none">{{@participantName}}</div></h3>
    <Participant::ParticipantScoreTable @stats={{participant-game-stats @stats @programWebPath}}/>
    {{yield}}
</Component::ViewportComponent>