{{head-layout}}
{{page-title "Kohlantstats"}}

<a class="github-fork-ribbon" data-ribbon="Prototype" href="#" title="Prototype"></a>
<Layout::NavBar/>
<div class="container-fluid">
  {{outlet}}
</div>
<Layout::Footer/>