<h1 class="kls-feature">
        Performances sur les épreuves individuelles
</h1>
<Layout::InfoCaption>
    <Definition::GamePerformanceDefinition></Definition::GamePerformanceDefinition>
</Layout::InfoCaption>
<h1 class="kls-feature">
        Score du participant sur l'aventure
</h1>
<Layout::InfoCaption>
    <Definition::PlayerPerformanceScoreDefinition></Definition::PlayerPerformanceScoreDefinition>
</Layout::InfoCaption>