<h1>Caractéristiques</h1>
<h2>Indice de performance d'un candidat</h2>
Il s'agit d'établir un critère objectif pour évaluer la performance d'un participant.
<br />
Chaque épreuve comporte des caractéristiques que le vainqueur devra avoir pour remporter celle-ci.
<br />
Par exemple pour le paresseux ont retrouve les caractéristiques suivantes:
<ul>
    <li>
        Statique
    </li>
    <li>
        Patience
    </li>
    <li>
        Force
    </li>
</ul>

L'indice de performance est calculé de la manière suivante pour un jeu
<br />
Attribution d'un point pour chaque caractéristique si le candidat est vainqueur, zéro point dans le cas contraire.
<br />
Pour la performance collective, le candidat doit avoir participer à l'épreuve pour que la performance soit évaluée.
<br />
Sur une saison c'est le cumul des points par caractéristique par rapport à l'ensemble des points potentiels (qu'aurait pu avoir le candidat).
<hr />
Le tableau reprend les caractéristiques par jeux et par saison
<br />
//TODO
<br />
