{{#if @data}}
<b>Gagnant</b>
<ul>
    {{#each @data as |item index| }}
    <li class={{class-4-participant-activity item.gameActivityTypeWebPath}}>
        <LinkTo @route="programme.participant.participant" @models={{array @programWebPath item.webPath}}>
            {{item.name}}
            {{#if (not-eq item.gameActivityTypeWebPath 'participant')}}
            ({{item.gameActivityTypeName}})
            {{/if}}
        </LinkTo>
    </li>
    {{/each}}
</ul>
{{/if}}