<div class="progress">
    <div class="progress-bar bg-success" 
        role="progressbar" 
        style="width: {{@performance.individualPerformanceFirstPercent}}%" 
        aria-valuenow="{{@performance.individualPerformanceFirstPercent}}" 
        aria-valuemin="0"
        aria-valuemax="100">
        </div>
    <div class="progress-bar bg-info" 
        role="progressbar" 
        style="width: {{this.secondPercent}}%" 
        aria-valuenow="{{this.secondPercent}}" 
        aria-valuemin="0"
        aria-valuemax="100">
        </div>
</div>