$green-team-color:rgb(24, 196, 24);
$red-team-color:rgb(226, 24, 17);
$green-quiz-color:rgb(24, 196, 24);
$quiz-color-incorrect-checked:rgb(226, 24, 17);
$quiz-incorrect-unchecked:rgb(226, 76, 17);

$twitter-color :#4099FF;//#3399CC;
$google-color :#d34836;//#DD3F34;
$youtube-color :#d34836;//#DD3F34;
$pinterest-color : #CC1E2D;
$linkedin-color : #1884BB;
$facebook-color : #3B5998;//#3D5B96;
$instagram-color : #e4405f;
$mail-color : #f39c12;//#FFC90E;
$code-color : #bcf442;
$pdf-color : #fff53a;//#6d6d6d;//#fff53a
$pdf-color-background : #6d6d6d;
$git-color : #3B5998;
$white : #FFFFFF;

$feature-side-color:#4CAF50;